@import url("Nav.css");
 
 @import url("Footer.css");


body{
padding: 0;
margin: 0;

}
.margin10{

    margin-top: 150px !important;
}

.cardicon1{
/* position: absolute;
top: 57%;
left: 10%; */
margin-top: 175px;
margin-left: -230px;

font-size: 30px;

}

/*     
    @media screen and (max-width:992px){


    } */


.fa-tools,.fa-hotel,.fa-home{
background-color: #273451;
padding: 10px;
color:rgb(255, 68, 0) !important ;

}
.orange{
    color:rgb(255, 68, 0) !important ;

}
/* .cardwidth{

width: 15rem;
justify-content: center;
height: 360px;
} */


.card-img-top{
/* height: 170px; */
height: auto;
width: 100% !important;
}
.card-text{
padding-top:10px ;
font-size: 16px !important;
font-weight: 400 !important;
}
.cardhead{
padding-top: 15px;
font-size: 20px;
/* font-weight: 500 !important; */
}
 .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
     }
     .contain{

        position: relative;
        text-align: center;
        
         }

         .heading{
            display: inline-block;
            /* width: 60%; */
            
        
        }
        .box2{
            margin-top: 20px !important;
        padding: 10px 15px;
        /* margin-right: -20px; */
        width: 100%;
        opacity: 70%;
        text-align: center;
        }
        



        .box2 p{
font-size: 18px;

        }
     
 


.one {
    opacity: 90%;
background-image: url('another.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
/* background-attachment: fixed; */
/* height: 100vh; */
/* margin: 0;
padding: 0; */
width: 100%;
height: 650px;
/* width: auto; */

}
.mainbox2{

width: 50%;
display: inline-block;
text-align: center;

}
.firsthead{
    
    color: #0d3fac;
   
    text-shadow:2px 2px 2px #199DC0;
    
}
.textblack{
    color: white;
text-shadow: none;
font-size: 23px;
}

.boxshadow{
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);

}
.logo3{
font-size: 40px;
color: #1A9DC2;

}
.logo4{
    font-size: 35px;
    color: #1A9DC2;
}
.logo5{
    color: #1A9DC2;
    margin-left: 35px;
font-size: 43px;
}
.dblock{
display: flex;
flex-direction: column;

}
.marginbt{
margin-bottom: 30px;

}

@media screen and (max-width:768px){
.one{

height: 750px;

}

.mainbox2{

    width: 90%;
}
.cardicon1{

    margin-left: -190px;
}

}




/* .cardslider {
    height: auto;
    width: 100%;
    background-color: #ffc516;
} */


.maindiv {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.maindiv .slider1,
.slider2,
.slider3 {
    background-color: #fff;
    margin: 60px 30px;
    width: 330px;
    /* height: 100px; */
    padding: 10px;
    /* line-height: 20px; */
    position: relative;
    /* color: #000000; */
    /* border: 2px solid black; */
  

}
.boxshadow{

    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
}

.client1,
.client2,
.client3 {
    width: 100%;
   
    height: 400px !important;
    
    margin-top: 10px;
    
    background: #fff;
}

.client2 img,
.client3 img {
    width: 100%;
    height: 200px;
}

.client1 img {
    height: 200px;
    width: 100%;
}
.cardman{
position: absolute;
top:43%;
left: 5%;

padding: 25px 10px ;


}
